# Binaries
*.exe
*.o
*.out

# Environment and key files
.env
.env.*
*.key
*.token
key.txt
api_key.txt
gemini_key.txt

.idea/
cmake-build-*/

#arduino stuff
arduino_build_*/
arduino_cache_*/
*.hex
*.elf
*.bin
*.eep

# mac stuff
.DS_Store
# build output
build/
